@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* 'Ubuntu' */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* 'Dancing Script' */

* {
    margin: 0;
    padding: 0%;
}

body {
    background-color: rgb(248, 248, 248);
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #383838;
}

nav .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo h1 {
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(253, 10, 10);
}

nav .bar {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav .bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav .bar ul li {
    margin: 0 20px;
    text-align: center;
}

nav .bar ul li a {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 1.3em;
    color: #383838;
    text-align: center;
}

nav .bar .espe {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
}
nav .bar ul li select{
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;text-align: center;
    border: 1px solid #383838;
    font-family: 'Ubuntu';
    font-weight: 500;
    transition: all 0.8s;
}
nav .bar ul li select:hover{
    background-color: #383838;
    color: #f5f5f5;
}

nav .temazin {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .temazin button {
    width: 50%;
    height: 50px;
    outline: 0;
    border-radius: 40px;
    border: 1px solid #383838;
    background-color: #f5f5f5;
    color: #383838;
    transition: all 0.8s;
}

nav .temazin button:hover {
    background-color: #383838;
    color: #f5f5f5;
}


/* ------------------- */
.container {
    width: 90%;
    height: 500px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px blue solid; */
}

.container .atividade {
    width: 35%;
    height: 400px;
    border-radius: 10px;
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #383838;
    box-shadow: 20px 20px 20px rgb(172, 19, 19);
    transition: all 1s;
}

.container .atividade .titulo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid forestgreen; */
}
.container .atividade .titulo h2{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Dancing Script';
}

.container .atividade .exer {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgb(41, 34, 139); */
    font-family: 'Ubuntu';
}

.container .atividade .exer p{
    color: #f5f5f5;
}

.container .atividade .exer input{
    width: 50%;
    height: 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    outline: 0;
    padding-left: 10px;
    margin: 10px 0;
    color: #f5f5f5;
}

.container .atividade .botao {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid darkmagenta; */
}
.container .atividade .botao button{
    width: 80%;
    height: 45px;
    border: 2px solid rgb(172, 19, 19);
    border-radius: 10px;
    background-color: transparent;
    outline: 0;
    transition: all 1s;
    color: rgb(172, 19, 19);
}
.container .atividade .botao button:hover{
    background-color: rgb(172, 19, 19);
    color: whitesmoke;
}
.container .resposta {
    width: 35%;
    height: 300px;
    border-radius: 10px;
    /* border: 1px rebeccapurple solid; */
}